.container header, div, h1, nav, section, h2, footer, form, legend, ul, li{
    padding: 20px;
}

header {
    background-color: blue;
}

h1, h2{
    font-family: Arial, Helvetica, sans-serif;
}

.menu a{
    font-weight: bold;
}

#conteudo {
    line-height: 1.5;
}

form{
    border: 1px solid gray;
    padding: 10px;
}