.container *{
    padding: 20px;
}

header {
    background-color: blue;
}

h1, h2{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    font-weight: bold;
}

#conteudo {
    line-height: 1.5;
}

form{
    border: 1px solid gray;
    padding: 10px;
}

p {
    color: green;
}

.btn-form {
    background-color: blue;
    color: white;
}

.rodape{
    border-top: 2px solid red;
}